<script src="/static/js/jquery-1.8.3.js"></script>
<script src="/static/js/jquery.leoweather.min.js"></script>
<script type="text/javascript" src="/static/echarts/echarts.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/echarts/macarons.js" charset="utf-8"></script>

<body>
<div class="larry-grid layui-anim layui-anim-upbit larryTheme-A" >
    <div class="larry-personal" >
        <div class="layui-tab" >
            <blockquote class="layui-elem-quote col-md-12 head-con">
                <div>系统管理员<span id="weather"></span></div>
            </blockquote>
            <div class="larry-separate"></div>
            <!-- 菜单列表 -->
            <div class="layui-show" style="padding: 10px 15px;">


                <div class="panel_box row">
                    <div class="panel col">
                            <div class="panel_icon" style="background-color:#F7B824;">
                                <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
                            </div>
                            <div class="panel_word waitNews">
                                <span id="allGoldStatFlowDO">$!todayNum</span>
                                <cite>今日短信下发数量</cite>
                            </div>
                    </div>
                    <div class="panel col max_panel">
                            <div class="panel_icon" style="background-color:#5FB878;">
                                <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
                            </div>
                            <div class="panel_word imgAll">
                                <span id="boxStatFlowDO">$!monthNum</span>
                                <cite>本月短信下发数量</cite>
                            </div>
                    </div>

                    <div class="panel col max_panel">
                            <div class="panel_icon" style="background-color:#5FB878;">
                                <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
                            </div>
                            <div class="panel_word imgAll">
                                <span id="divisibleStatFlowDO">$!allNum</span>
                                <cite>总短信下发数量</cite>
                            </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var $;
    layui.config({
        base : "/static/js/"
    }).use(['form','jquery','layer','common','element'],function() {
        $ = layui.$;
        var  form = layui.form,
                element = layui.element,
                common = layui.common;

        var loading = layer.load(0,{ shade: [0.3,'#000']});

        //天气插件
        $('#weather').leoweather({format:'，{时段}好！，<span id="colock">现在时间是：<strong>{年}年{月}月{日}日 星期{周} {时}:{分}:{秒}</strong></span>'});

        //首页卡片tab添加
        $(".panel a").on("click",function(){
            window.parent.addTab($(this));
        });

        layer.close(loading);
    });

</script>
</body>
